$textColor: blue;
.loader {
  --inner-color: #00DC82;
  --outer-color: #0047E1;
  --middle-color: #36E4DA;
  --inner-radius: 2px;
  --outer-radius: 8px;
  width: 50px;
  height: 50px;
  display: grid;
  border: calc((var(--outer-radius) - var(--inner-radius)) * 0.5 + var(--inner-radius)) solid #0000;
  border-radius: 50%;
  border-right-color: var(--middle-color);
  animation: l15 1s infinite linear;
  &::before, &::after {
    content: "";
    grid-area: 1/1;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
  }
  &::before {
    margin: var(--inner-radius);
    border-right-color: var(--inner-color);
  }
  &::after {
    margin: var(--outer-radius);
    animation-duration: 3s;
    border-right-color: var(--outer-color);
  }
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}
body {
  font-family: "Montserrat Alternates", sans-serif;
}